.main{
	min-height: 100vh;
}

.markdown-editor{
	position: relative;
	width: 100%;
	height: calc(100vh - 52.25px);
	overflow: hidden;

	&__view{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width: 200%;
		height: 100%;
		transition: transform 300ms  ease-in-out;

		&--preview{
			transform: translateX(-50%);
		}
		&--editor{
			transform: translateX(0);
		}
	}

	&__view-mobile{
		position: absolute;
		right: 20px;
		top: 5px;
		background:transparent;
		border:none;
		outline: none;
		color:#68d8ef;
		font-size: 2rem;
		z-index: 1;
	}



	&__editor{
		position: relative;
		width: 50%;
		height: 100%;
		
		p{
			position: sticky;
			bottom: 0;
			width: calc(100% - 30px);
			padding: 5px 15px;
			font-family: 'Anonymous Pro', monospace;
			font-size: 1.8rem;
			background-color: #007ACC;
			color: #FFF;

			span{
				font-weight: 900;
			}
		}

		textarea{
			margin: 0;
			overflow-y: scroll;
			background-color: #2E3440;
			color: #FFF;
			font-size: 1.8rem;
			font-family: 'Fira Code', monospace;
			outline: none;
			resize: none;
			width: calc(100% - 24px);
			height: calc(100% - 60px - 28px);
			padding: 30px 12px;
			border:none;
		}
	}

	&__preview{
		height: calc(100% - 60px);
		width: calc(50% - 60px);
		padding: 30px 30px;
		font-size: 30px;
		word-wrap:break-word;
		overflow-y: scroll;

	}
}


@media (min-width: 700px) {
.markdown-editor{
	height: calc(100vh - 56px);

	&__view{
		width: 100%;
	}
}

}
